<!DOCTYPE html>
<html>
  <head>
	  <title>Page <%= page %></title>
  </head>

  <body>
	  <b>Page:</b> <%= page %><br/>
	  <b>Served by:</b> <%= hostname %> container
    <hr />
    Go to <a href='/'>home</a></a><br />
    Go to <a href='/about'>about</a><br />
  </body>
</html>
